* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 100vh;
  width: 100vw;
}
header h2 {
  letter-spacing: 3px;
  text-align: center;
}

.header {
  width: 100%;
  height: 430px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(247, 91, 52, 0.932);
}
.custom-shape-divider-bottom-1615863970 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615863970 svg {
  position: relative;
  display: block;
  width: calc(100% + 2.1px);
  height: 201px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1615863970 .shape-fill {
  fill: #ffffff;
}

.header #header__title {
  position: relative;
  top: 45px;
  left: 27px;
}
.header #header__title a {
  text-decoration: none;
}
.header #header__title a h1 {
  color: white;
  font-weight: 200;
  font-size: 40px;
  cursor: pointer;
}
.header #header__list {
  position: relative;
  top: 65px;
  width: 20%;
}
.header #header__list ul {
  position: relative;
  width: 100%;
}
.header #header__list ul li {
  float: left;
  list-style: none;
  margin-right: 30px;
}
.header #header__list ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header #header__list ul li a h4 {
  font-weight: bolder;
  letter-spacing: 3px;
}
.header #header__ilustrasi {
  position: relative;
  top: 85px;
  left: 90px;
}
.header #header__ilustrasi img {
  width: 350px;
}
.header #header__ilustrasihuman {
  position: relative;
}
.header #header__ilustrasihuman img {
  width: 200px;
  transform: translateY(75%);
}

.main__1 {
  height: 150vh;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
}
.main__1__component {
  position: relative;
  top: 60px;
  left: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 80%;
  background: white;
  color: black;
  border: none;
  box-shadow: 0 5px 15px rgb(78, 72, 78);
  border-radius: 24px;
}
.main__1__component h3 {
  position: absolute;
  left: 20px;
  top: 65px;
  font-size: 3em;
}
.main__1__component p {
  position: absolute;
  text-align: justify;
  align-items: center;
  margin: 20px;
  line-height: 41px;
  transform: translateY(10em);
}
.main__1__component img {
  position: absolute;
  bottom: 8px;
  width: 300px;
}
.main__1__component .button1 {
  position: absolute;
  bottom: 160px;
  right: 35px;
  width: 185px;
  height: 50px;
  letter-spacing: 2px;
  background: none;
  border: none;
  border: 1.5px solid orange;
  color: orange;
  outline: none;
}
.main__1__component .button2 {
  position: absolute;
  bottom: 90px;
  right: 35px;
  width: 185px;
  height: 50px;
  letter-spacing: 2px;
  background: none;
  border: none;
  border: 1.5px solid #0077ff;
  color: #0077ff;
  outline: none;
}
.main__1__component .button1:hover {
  right: -18px;
  background: orange;
  color: white;
  transition-duration: 0.3s;
}
.main__1__component .button2:hover {
  right: -18px;
  background: #0077ff;
  color: white;
  transition-duration: 0.3s;
}
.main__1__component .button1:active,
.main__1__component .button2:active {
  width: 135px;
  height: 30px;
}
.main__1__model {
  position: relative;
  top: 60px;
  right: 0;
  height: 87%;
  border: 2px solid orange;
  border-right-color: transparent;
}
.main__1__model img {
  position: relative;
  top: 20px;
  right: 0;
  width: 500px;
  z-index: 2;
}
.main__1__model .black {
  position: relative;
  top: 20px;
  width: 520px;
  height: 320px;
  background: rgb(56, 51, 51);
  transform: translateY(-39em) translateX(-6em);
  z-index: 1;
}

.main__2 {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgba(247, 91, 52, 0.932);
  text-align: center;
}
.main__2 #main__2__judul {
  font-size: 7em;
  color: white;
}
.main__2 #main__2__text {
  font-size: 1em;
  color: white;
}
.main__2 svg {
  display: block;
}
.main__2 .top {
  transform: rotate(180deg);
}

.main__3 {
  margin-top: 0;
  height: 90vh;
  width: 100%;
  background: #ffffff;
}

.main__4 {
  margin-top: 0;
  height: 50vh;
  width: 100%;
  background: rgba(247, 91, 52, 0.932);
}

.main__5 {
  margin-top: 0;
  height: 100vh;
  width: 100%;
  background: #ffffff;
}
