@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source sans Pro", sans-serif;
}
body {
  background: #000;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 100;
}
header .logo img {
  max-width: 150px;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 0 10px;
}
.navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}
.navigation li:hover a {
  color: #de0611;
}
.search {
  position: relative;
  width: 300px;
  height: 40px;
}
.search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 45px;
  font-weight: bold;
  letter-spacing: 2px;
  backdrop-filter: blur(5px);
}
.search input::placeholder {
  color: #fff;
}
.search .fa-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding-right: 10px;
  color: #fff;
  border-right: 1px solid #fff;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  position: relative;
  z-index: 1;
  max-width: 550px;
}
.content .movieTitle {
  max-width: 250px;
}
.banner .content h4 {
  color: rgba(175, 167, 167, 0.938);
  font-weight: 500;
}
.banner .content h4 span {
  padding: 0 10px;
  border-right: 1px solid rgba(175, 167, 167, 0.938);
}
.banner .content h4 span:first-child {
  padding-left: 0;
}
.banner .content h4 span:last-child {
  border-right: none;
}
.banner .content p {
  color: white;
  line-height: 1.5em;
  font-weight: 100;
  font-size: 1em;
  margin: 10px 0 20px;
}
.banner .content h4 i {
  background: #de0611;
  padding: 1px 8px;
  color: #fff;
  display: inline-block;
  font-style: normal;
  border-radius: 2px;
}
.banner .content .buttons {
  position: relative;
}
.banner .content .buttons a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #de0611;
  color: white;
  padding: 6px 20px;
  text-decoration: none;
  font-weight: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.banner .content .buttons a:nth-child(2) {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(175, 167, 167, 0.938);
}
.banner .content .buttons a:hover:nth-child(2) {
  background: #de0611;
  border: 1px solid #de0611;
}
.play {
  position: absolute;
  bottom: 50px;
  left: 100px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;
  cursor: pointer;
}
.play img {
  max-width: 50px;
  margin-right: 8px;
}
.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  visibility: hidden;
  opacity: 0;
}
.trailer.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s linear;
}
.trailer video {
  max-width: 1000px;
  border-radius: 10px;
  outline: none;
}
.trailer .close {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}
@media (max-width: 991px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
  }
  .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  .banner {
    padding: 170px 55px;
  }
  .banner .play {
    left: 50px;
    font-size: 1em;
  }
  .play img {
    margin-right: 10px;
    max-width: 40px;
  }
  .trailer video {
    max-width: 90%;
    border: none;
    border-radius: 0;
  }
}
@media (max-width: 600px) {
  header {
    padding: 20px;
  }
  .search {
    position: relative;
    width: calc(100% - 40px);
    height: 40px;
  }
  .banner {
    padding: 200px 20px 120px;
  }
  .banner .content p {
    line-height: 35px;
  }
  .banner .play {
    left: 20px;
    font-size: 1em;
    bottom: 40px;
  }
}
